# =========================
# Environment variables
# =========================

backend/.env
frontend/.env
python/.env

# =========================
# Dependencies
# =========================

node_modules/
.venv/
venv/
env/

# =========================
# Python cache
# =========================

__pycache__/
*.py[cod]

# =========================
# Generated / Raw Train Data
# =========================

python/newraw/
python/compiledraw/
python/compileaggregateraw/
python/convertednewraw/
python/train_observations
python/weather_raw

backend/data
backend/logs

# =========================
# Large OSM Extracts
# =========================

*.osm.pbf

# =========================
# OS / Editor Noise
# =========================

.DS_Store
*.log